<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div id="contact" class="contact-area section-padding mt-5 mb-5 bg-light">
  <div class="container">
    <div class="section-title text-center">
      <h1>Get in Touch</h1>
      <p>We're excited to hear from you! Whether you have a question, feedback, or just want to say hello, please feel free to reach out. Here are a few ways to get in touch:</p>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="contact">
          <form class="form" name="enq" method="post" action="contact.php" onsubmit="return validation();">
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" placeholder="Name" required="required">
              </div>
              <div class="form-group col-md-6">
                <input type="email" name="email" class="form-control" placeholder="Email" required="required">
              </div>
              <div class="form-group col-md-12">
                <input type="text" name="subject" class="form-control" placeholder="Subject" required="required">
              </div>
              <div class="form-group col-md-12">
                <textarea rows="6" name="message" class="form-control" placeholder="Your Message" required="required"></textarea>
              </div>
              <div class="col-md-12 text-center">
                <button type="submit" value="Send message" name="submit" id="submitButton" class="btn btn-contact-bg" title="Submit Your Message!">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div><!--- END COL -->
      <div class="col-lg-5">
        <div class="single_address">
          <i class="fa fa-map-marker"></i>
          <h4>Our Address</h4>
          <p><b>Address 1-</b> 158, Uruli Devachi, Pune, Maharashtra 412308</p>
          <p><b>Address 2 - </b> 1081 10R, Jayadri Park Rd, Wadki, Maharashtra 412308</p>

        </div>
        <div class="single_address">
          <i class="fa fa-envelope"></i>
          <h4>Send your message</h4>
          <p>Info&#64;example.com</p>
        </div>
        <div class="single_address">
          <i class="fa fa-phone"></i>
          <h4>Call us / Whatsapp us on</h4>
          <p>7722004041</p>
        </div>
        <div class="single_address">
          <i class="fa fa-clock-o"></i>
          <h4>Work Time</h4>
          <p>Mon - Sat: 08.00 - 6.00. <br>Sunday: 10.00 - 9.00</p>
        </div>
      </div><!--- END COL -->
    </div><!--- END ROW -->
  </div><!--- END CONTAINER -->
</div>


<iframe class="mt-5 mb-5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3824.2060558797302!2d73.9660658!3d18.4482386!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2e9dc30587851%3A0x3b2209c5c267603f!2s158%2C%20Uruli%20Devachi%2C%20Pune%2C%20Maharashtra%20412308!5e1!3m2!1sen!2sin!4v1728329373872!5m2!1sen!2sin" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
